*{
    margin: 0;
    padding: 0;
}

.container{
 background-color: red;
 width: 334px;
 height: 344px;
 border: 2px solid blue;
 background-image: url('/aatif.jpeg');
 background-repeat:no-repeat;
 background-size: contain;
}

