.container{
    background: red;
    height: 34vh;
}
@media screen and (max-width:800px) {
    body{
        background-color: blue;
    }
    .container{
        background-color: yellow;
    }
    
}